

.layout {
  width: 90%;
  margin: 0 auto;
  max-width: 68.75rem;
}

.footer .layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.un {
  display: inline-block;

}

.un:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 300ms;
}

.un:hover:after {
  width: 100%;
}

.about {
  background-color: yellow;
}


/* .nav {
    z-index: 10;
} */